<%include header%> 
<body>
    <%include adminNav%>
      <main class="mt-5 pt-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h4>Dashboard</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <div class="admin-card bg-primary text-white h-100">
                <b>Admins</b> 
                <div class="card-body py-5"><%=userCount[0]['COUNT(*)']%></div>
                <!-- <div class="card-footer d-flex">
                  Admins
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </div> -->
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="admin-card bg-warning text-dark h-100">
                <b>Project Owners</b>
                <div class="card-body py-5"><%=poCount[0]['COUNT(*)']%></div>
                <!-- <div class="card-footer d-flex">
                  Users
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </div> -->
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="admin-card bg-success text-white h-100">
                <b>New Projects</b>
                <div class="card-body py-5"><%=newProject[0]['COUNT(*)']%></div>
                <!-- <div class="card-footer d-flex">
                  New Projects
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </div> -->
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="admin-card bg-danger text-white h-100">
                <b>Reviewed Projects</b>
                <div class="card-body py-5"><%=reviewedProject[0]['COUNT(*)']%></div>
                <!-- <div class="card-footer d-flex">
                  Approved Projects
                  <span class="ms-auto">
                    <i class="bi bi-chevron-right"></i>
                  </span>
                </div> -->
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="card">
                <div class="card-header">
                  <span><i class="bi bi-table me-2"></i></span> Published Projects
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      id="example"
                      class="table table-striped table-success data-table"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Project Id</th>
                          <th>Project title</th>
                          <th>Organization</th>
                          <th>Country</th>
                          <th>Amount needed</th>
                          <th>Amount donated</th>
                          <th>Project Owner</th>
                          <th>Email</th>
                          <th>Phone number</th>
                          <th>Days left</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%projects.forEach((project) => {%>
                          <%var present_date = new Date();%>
                          <%var difference = project.fundCampaignEndDate.getTime() - present_date.getTime();%>
                          <%var days = Math.ceil(difference / (1000 * 3600 * 24));%>
                          <%if(project.projectStatusId == '3') {%>
                            <tr>
                              <td><%=project.id%></td>
                              <td><%=project.title%></td>
                              <td><%=project.organization%></td>
                              <td><%=project.country%></td>
                              <td><%if(project.currencyId == 'GHS') {%><%=project.amountRequired.toLocaleString('en-GH', { style: 'currency', currency: 'GHS' });%><%}else {%><%=project.amountRequired.toLocaleString('en-GH', { style: 'currency', currency: 'CFA' });%><%}%></td>
                              <td><%if(project.currencyId == 'GHS') {%><%=project.amountRecieved.toLocaleString('en-GH', { style: 'currency', currency: 'GHS' });%><%}else {%><%=project.amountRecieved.toLocaleString('en-GH', { style: 'currency', currency: 'CFA' });%><%}%></td>
                              <td><%=project.name%></td>
                              <td><%=project.email%></td>
                              <td><%=project.phoneNumber%></td>
                              <td><%=days%></td>
                            </tr>
                            <%}%>
                          <%})%>
                        
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Project Id</th>
                          <th>Project title</th>
                          <th>Organization</th>
                          <th>Country</th>
                          <th>Amount needed</th>
                          <th>Amount donated</th>
                          <th>Project Owner</th>
                          <th>Email</th>
                          <th>Phone number</th>
                          <th>Days left</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <script>
          $(document).ready(function () {
            $(".data-table").each(function (_, table) {
                $(table).DataTable();
            });
            });
      </script>
      <%include scripts%> 
</body>