<%include header%> 
<body>
    <%include navbar%>
                <div class="myProjectContainer">
                    <div class="prj1">
                        <div id="prj1"><h2><%=projectDetails[0].title%></h2></div>
                        <div id="prj1"><p>by <%=projectDetails[0].organizationName%></p></div>
                        <br>
                        <!-- <div id="prj1" data-bs-toggle="tooltip" title="Click to Edit"><img src="<%=photos[0].path%>" alt="" width="100%" height="400px"></div> -->
                        <div id="prj1"><h4>Description of the project</h4></div>
                        <div id="prj1"><p><%=projectDetails[0].description%></p></div>
                        <br>
                        <br>
                        <!-- <div id="prj1" data-bs-toggle="tooltip" title="Click to Edit"><img src="<%=photos[1].path%>" alt="" width="100%" height="400px"></div> -->
                        <br>
                        <div id="prj1"><h4>Aimed end result of the project</h4></div>
                        <div id="prj1"><p><%=projectDetails[0].aimedResult%></p></div>
                        <br>
                        <br>
                        <div id="prj1"><h4>Description of the impact on the digital transformation of Africa </h4></div>
                        <div id="prj1"><p><%=projectDetails[0].descriptionOfImpact%></p></div>
                        <br>
                        <!-- <div id="prj1" data-bs-toggle="tooltip" title="Click to Edit"><img src="<%=photos[2].path%>" alt="" width="100%" height="400px"></div> -->
                         <div>
                            <div><h4>Photos</h4></div>
                            <div id="reviewPhotos">
                            <%photos.forEach((photo) => {%>
                              <div id="reviewPhoto" data-bs-toggle="tooltip" title="Click to Edit"><img src="<%=photo.path%>" alt="" width="100%" height="100px"></div>
                              <%})%>
                            </div>
                        </div>
                    </div>
                    <div class="prj2">

                      <button class="btn bg-info" data-bs-toggle="modal" data-bs-target="#approve">Donate</button>
                      <br>
                      <br>
                        <div><p>amount collected: <%if(projectFunding[0].currencyId == 'GHS') {%><%=projectFunding[0].amountRecieved.toLocaleString('en-GH', { style: 'currency', currency: 'GHS' });%><%}else {%><%=projectFunding[0].amountRecieved.toLocaleString('en-GH', { style: 'currency', currency: 'CFA' });%><%}%></p></div>
           
                        <%var percent = (projectFunding[0].amountRecieved/projectFunding[0].amountRequired)*100; console.log(percent); console.log(projectFunding[0].amountRecieved)%>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="55" aria-valuemin="91" aria-valuemax="100" style="width:<%=percent%>%;"><%=parseInt(percent)%>%</div>
                         </div>
                   
                        <div id="prj2" type="button" data-bs-toggle="modal" data-bs-target="#updateTarget" title="Click to Edit"><p>target: <%if(projectFunding[0].currencyId == 'GHS') {%><%=projectFunding[0].amountRequired.toLocaleString('en-GH', { style: 'currency', currency: 'GHS' });%><%}else {%><%=projectFunding[0].amountRequired.toLocaleString('en-GH', { style: 'currency', currency: 'CFA' });%><%}%></p></div>
                        <br>
                        <div id="prj2" type="button" data-bs-toggle="modal" data-bs-target="#updateDates" title="Click to Edit fundraiser campaign dates"><b>Fundraiser Campaign days left:</b></div>
                        <%var present_date = new Date();%>
                        <%var difference = projectDetails[0].fundCampaignEndDate.getTime() - present_date.getTime();%>
                        <%var days = Math.ceil(difference / (1000 * 3600 * 24));%>
                        <div id="prj2" type="button" data-bs-toggle="modal" data-bs-target="#updateDates" title="Click to Edit fundraiser campaign dates"><b><%=days%></b></div>  
            
                        <br>                       
                        <div>
                            <div id="prj2"><b>Country:</b> <%=address[0].country%></div>
                            <div id="prj2"><b>Region:</b> <%=address[0].region%></div>
                            <div id="prj2"><b>GPS Location:</b> <%=address[0].gpsCordinates%></div>
                            <br>
                            <br>
                            <div id="prj2"><b>Social Media Links</b></div>
                            <div id="prj2"><ion-icon name="logo-youtube"></ion-icon> <%=socialMedia[0].link%></div>
                            <div id="prj2"><ion-icon name="logo-facebook"></ion-icon> <%=socialMedia[1].link%></div>
                            <div id="prj2"><ion-icon name="logo-twitter"></ion-icon> <%=socialMedia[2].link%></div>
                            <div id="prj2"><ion-icon name="logo-instagram"></ion-icon> <%=socialMedia[3].link%></div>
                        </div>
                        <br>
                        <br>
                        <div><b>Project Owner</b></div>
                        <div><b>Name: </b><%=projectOwner[0].name%></div>
                        <div><b>Email: </b><%=projectOwner[0].email%></div>
                        <div><b>Phone Number: </b><%=projectOwner[0].phoneNumber%></div>
                        <br>
                        <br>
                        
                            
                        
                        <br>
                        <br>
                        <!-- <button class="btn bg-danger" data-bs-toggle="modal" data-bs-target="#reject">Reject Project</button> -->
                        <br>
                    </div>
                </div>


                <!-- Modal -->
            <div class="modal" id="approve" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content bg-light border-0">
                    <div class="modal-header">
                      <h5 class="modal-title">Review</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="" action="/reviewer/approveProject" method="post">
                            <div class="mb-3">
                              <label for="remarks" class="form-label"> Remarks:</label>
                              <textarea 
                                name="remarks" 
                                id="remarks" 
                                cols="30" 
                                rows="10" 
                                placeholder="Remarks" 
                                required></textarea>
                            </div> 
                            <div class="mb-3">
                              
                              <label>
                                <input type="radio" class="form-group" name="decision" value="8" required>
                                Approve
                              </label><br>
                              <br>
                              <label>
                                <input type="radio" class="form-group" name="decision" value="7">
                                Disapprove
                              </label><br>
                            
                            </div> 
                            <input type="hidden" name="projectId" value="<%=projectDetails[0].id%>">                           
                            <button type="submit" class="btn btn-primary">Send</button>
                          </form>
                        </div>
                    </div>
                </div>
              </div>
      <%include scripts%> 
      <%include footer%>
</body>